
h1 {
  color: rgb(8, 180, 172);
  text-align: center;
  font-family: 'Signika', sans-serif;
  font-size: 60px;
}
h4 {
  color: rgb(8, 180, 172);
  text-align: center;
  font-family: 'Signika', sans-serif;
  font-size: 16px;
}
p {
  color: black;
  text-align: center;
  font-family: 'Spectral', serif;
  font-size: 14px;
  width: 55%;
  margin:auto;
}

.bold {
  font-weight: bold;
  font-family: 'Signika', sans-serif;
  font-size: 15px;
  line-height: 19px;
}

.button {
  color:white;
  border: black;
  border-radius: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  display: inline-block; 
  background-color:rgb(255, 102, 55);
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
}
* {
  box-sizing: border-box;
}






* {
  box-sizing: border-box;
}


[class*="col-"] {
  float: left;
  padding: 1px;
}



/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}